# Ignore node_modules folder
node_modules/

# Ignore all .log files
*.log

# Ignore environment config
.env

# Ignore all files in temp folder
argocd/

k8s/
monitoring/
namespace/
registry/
testing/
webhook/
metrics/
runner/
zzz/


# Ignore specific YAML files

day2.yaml
day3.yaml
day4.yaml
day5.yaml
day6.yaml
monorepo.yaml
parallel-pipeline.yaml


# Ignore IDE specific files
.gitignore