apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  registries.conf: |
    registries:
    - name: Docker Registry
      prefix: registry.local:5000
      api_url: http://docker-registry.cicd.svc.cluster.local:5000
      credentials: secret:cicd/registry-auth#htpasswd
      insecure: true
  
  log.level: info